html {
    -webkit-font-smoothing : subpixel-antialiased;
    font-weight            : normal;
}

body {
    padding-top    : 50px;
    padding-bottom : 20px;
    font-family    : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Verdana, sans-serif;
    overflow      : hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left  : 15px;
    padding-right : 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width : 280px;
}

h1 {
    color       : white;
    text-shadow : none;
}

h3 {
    color : white;
    font-size  : .8rem;
    margin-bottom: 0;
}

p {
    text-shadow : none;
    color       : white;
    font-size   : .8em;
}

.button {
    background-color : #003a77 !important;
    border-color     : silver !important;
    border           : 5px solid;
    border-radius    : 15px;
    color            : white !important;
}

.capabilities-intro {
    margin-top : 0;
}

.child-list {
    height      : 180px;
    margin-left : 0 !important;
}

.client-callout {
    background : white;
    height     : 200px;
    text-align : center;
}

.container {
    max-width : 100%;
}

.fly-in {
    margin      : 0;
    margin-left : 0px !important;
    padding     : 0;
    position    : absolute;
    left        : -1000 !important;
}

footer p {
    text-align : center;
    width      : 100%;
}

.full-width-band {
    margin     : 0;
    height     : 200px;
    width      : 100%;
    background : #003a77;
    color      : black;
}

.header-row {
    background     : none !important;
    border         : none;
    height         : 125px;
    padding-bottom : 35px;
}

.header-row h1 {
    color          : white;
    float          : left;
    font-size      : 1.5rem;
    margin         : 70px 0 !important;
    padding        : 0 10px !important;
    text-align     : left;
    text-transform : uppercase;
}

.header-row #header-logo {
    float  : left;
    margin : 30px 10px 0 31px;
    width  : 100px;
}

.landing-menu-item {
    font-size   : .8rem;
    padding-top : 25px;
    text-align  : center;
}

.landing-menu-item:nth-child(7n+7){
    clear:left;
}

.market-panel {
    color   : white;
    padding : 30px;
    margin  : 0 30px;
}

.markets-intro {
    margin-top : 360px;
}

.menu-header {
    height       : 180px;
    padding-left : 35px;
    position     : relative;
    left         : -2000px;
}

.menu-header a {
    margin    : 0;
    position  : absolute;
    top       : 50%;
    transform : translate(0, -50%)
}

.menu-list {
    position : absolute;
    left     : -2000px;
}

#page-container {
    background : none;
    min-height : 768px !important;
}

#page-container a {
    color       : white;
    font-weight : normal;
}

.panel-link-item {
    font-weight    : normal !important;
    text-transform : uppercase;
}

.products-intro {
    margin-top : 180px;
}

.ribbon {
    width         : 100%;
    height        : 20%;
    margin-left   : 0 !important;
    margin-bottom : 6px;
    min-height    : 180px;
}

.capabilities-header {
    background-color : rgba(0, 96, 102, .7);
    border-right     : 5px solid rgba(0, 96, 102, 1);
}

.markets-header {
    background-color : rgba(109, 26, 66, .7);
    border-right     : 5px solid rgba(109, 26, 66, 1);
}

#page-headline {
    height: 31px;
}
.products-header {
    background-color : rgba(166, 63, 30, .7);
    border-right     : 5px solid rgba(166, 63, 30, 1);
}

.capabilities-list, .capabilities-bottom-menu-list {
    background-color : rgba(0, 96, 102, .4);
}

.markets-list, .markets-bottom-menu-list {
    background-color : rgba(109, 26, 66, .4);
}

.products-list, .products-bottom-menu-list {
    background-color : rgba(166, 63, 30, .4);
}

.capabilities-bottom-menu-list, .products-bottom-menu-list, .markets-bottom-menu-list {
    margin-top : 5px;
    width      : 101%;
    min-height : 180px;
}

#sectionMenu {
    background         : -webkit-linear-gradient(right, rgba(0, 0, 0, .8), transparent); /* For Safari 5.1 to 6.0 */
    background         : -o-linear-gradient(left, rgba(0, 0, 0, .8), transparent); /* For Opera 11.1 to 12.0 */
    background         : -moz-linear-gradient(left, rgba(0, 0, 0, .8), transparent); /* For Firefox 3.6 to 15 */
    background         : linear-gradient(to left, rgba(0, 0, 0, .8), transparent); /* Standard syntax (must be last) */
    -webkit-box-shadow : none;
    box-shadow         : none;
    color              : aquamarine;
    font-size          : 1.2rem;
    padding-top        : 50px;
    z-index            : 500000;
}

#sectionMenu ul li {
    list-style    : none;
    direction     : ltr;
    margin-bottom : 35px;
    text-align    : right;
}

#sectionMenu ul li.capabilities-panel-item:after {
    color              : rgba(0, 96, 102, 1);
    content            : ' \25CF';
    font-size          : 80px;
    float              : right;
    margin-top         : -50px;
    margin-right       : 40px;
    -webkit-box-shadow : none;
    box-shadow         : none;
}

#sectionMenu ul li.casestudy-panel-item:after {
    color        : rgba(115, 104, 103, 1);
    content      : ' \25CF';
    font-size    : 80px;
    float        : right;
    margin-top   : -50px;
    margin-right : 40px;
}

#sectionMenu ul li.markets-panel-item:after {
    color        : rgba(109, 26, 66, 1);
    content      : ' \25CF';
    font-size    : 80px;
    float        : right;
    margin-top   : -50px;
    margin-right : 40px;
}

#sectionMenu ul li.products-panel-item:after {
    color        : rgba(166, 63, 30, 1);
    content      : ' \25CF';
    font-size    : 80px;
    float        : right;
    margin-top   : -50px;
    margin-right : 40px;
}



#section-menu-button {
    background    : none;
    border-radius : 50%;
    height        : 50px;
    padding       : 12.5px;
    margin        : 60px;
    width         : 50px;

}

#submenu {
    float          : left;
    clear          : both;
    margin-left    : 150px;
    margin-top     : -85px;
    text-transform : capitalize;
}

#submenu-content {

    background  : -webkit-linear-gradient(rgba(166, 63, 30, .8), transparent); /* For Safari 5.1 to 6.0 */
    background  : -o-linear-gradient(rgba(166, 63, 30, .8), transparent); /* For Opera 11.1 to 12.0 */
    background  : -moz-linear-gradient(rgba(166, 63, 30, .8), transparent); /* For Firefox 3.6 to 15 */
    background  : linear-gradient(rgba(166, 63, 30, .8), transparent); /* Standard syntax (must be last) */

    /*background-color: rgba(166, 63, 30, .7);*/
    border-top  : 5px solid rgba(166, 63, 30, 1);
    margin-top  : 5px;
    padding-top : 15px;
    position    : relative;
    top         : 0;
    left        : 0;
}

#submenu-content ul {
    z-index         : 7000;
    max-width       : 720px;
    min-height      : 500px;

    list-style-type : none;
    padding         : 0;
}

#submenu-content ul li {
    display       : inline;
    float         : left;
    height        : 60px;
    margin-bottom : 5px;
    padding       : 5px;
    width         : 33%;
    max-width     : 240px;
}

#video-poster {
    width: 320px;
}

.view-content-link {
    width      : 20%;
    margin     : auto;
    margin-top : 50px;
}

/* LANDING ANIMATIONS */
.landing-animation {
    background : blue;
}

.top-landing-overlay, .bottom-landing-overlay {
    height : 38%;
}

.center-landing-overlay {
    height        : 20%;
    margin-top    : 1%;
    margin-bottom : 1%;
}

/* BOOTSTRAP */

.clearfix {
    height : 65px;
}

.modal-body {
    padding : 0;
}

.modal-dialog {
    width   : 100%;
    height  : 100%;
    padding : 0;
    margin  : 0 !important;
}

.modal-content {
    height        : 100%;
    border-radius : 0;
}

.nav-tabs {
    border-bottom : 1px solid #6d1a42;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav > li > a:hover, .nav > li > a:focus {
    background : #6d1a42;
    border     : none;
    color      : white;
}

.row {
    margin-left : 35px;
}

.ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover {
    color : white;
}

.ui-shadow {
    -webkit-box-shadow : none;
    box-shadow         : none;
}

/* DEBUGGING - NOT UTILIZED FOR PRODUCTION CODE */

.border {
    border : 1px solid black;
}

.ofTest {
    overflow    : auto;
    overflow-y  : hidden;
    height      : 150px;
    width       : 1500px;
    white-space : nowrap;
}
