html {
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: normal;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

p {
    font-size: .8em;
}

.capabilities-intro {
    margin-top: 0;
}

.client-callout {
    text-align: center;
}

.container {
    max-width: 100%;
}

.fly-in {
    margin: 0;
    padding: 0;
    position: absolute;
    left: -1000 !important;
}

footer p {
    text-align: center;
    width: 100%;
}

.full-width-band {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    margin: 0;
    height: 204px;
    width: 100%;
    background: white;
    color: black;
}

.header-row {
    background: none !important;
    height: 125px;
}

    .header-row h1 {
        color: white;
        float: left;
        margin: 0 !important;
        padding: 0 !important;
        text-align: left;
        text-transform: uppercase;
    }

    .header-row #header-logo {
        float: left;
        width: 80px;
    }

.landing-menu-item {
    font-size: .8rem;
    text-align: center;
}
.market-panel {
    color: white;
    padding: 30px;
    margin: 0 30px;
}
.markets-intro {
    margin-top: 360px;
}

#page-container {
    background: none;
}

    #page-container a {
        color: white;
    }

.products-intro {
    margin-top: 180px;
}

.ribbon {
    width: 100%;
    height: 20%;
    min-height: 180px;
    vertical-align: middle;
}

#sectionMenu {
    background: none;
    color: aquamarine;
}

    #sectionMenu ul li {
        list-style: none;
    }

        #sectionMenu ul li:after {
            color: red;
            content: ' \25CF';
            font-size: 30px;
            margin-top: 5px;
        }

/* LANDING ANIMATIONS */
.landing-animation {
    background: blue;
}

.top-landing-overlay, .bottom-landing-overlay {
    height: 38%;
}

.view-content-link {
    width: 20%;
    margin: auto;
    margin-top: 50px;
}

.center-landing-overlay {
    height: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* MENU PAGE ANIMATIONS */

.ribbon .capabilities-header, .ribbon .products-header, .ribbon .markets-header {
    position: relative;
    -webkit-animation: popInFromLeft .8s; /* Chrome, Safari, Opera */
    animation: popInFromLeft .8s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes popInFromLeft {
    0% {
        left: -100px;
    }

    100% {
        left: 0;
    }
}

/* Standard syntax */
@keyframes popInFromLeft {
    0% {
        left: -100px;
    }

    100% {
        left: 0;
    }
}

/* BOOTSTRAP */

.modal-body {
    padding: 0;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
}

.modal-content {
    height: 100%;
    border-radius: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav > li > a:hover, .nav > li > a:focus {
    background: #6d1a42;
    border: none;
    color: white;
}

.ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover {
    color: white;
}

.nav-tabs {
    border-bottom: 1px solid #6d1a42;
}


/* DEBUGGING - NOT UTILIZED FOR PRODUCTION CODE */

.border {
    border: 1px solid black;
}

.ofTest {
    overflow-y: hidden;
    overflow: auto;
    height: 150px;
    width: 1500px;
    white-space: nowrap;
}
